body {
  font-family: 'Lato', sans-serif;
}

.jumbotron-text {
  font-weight: 300;
}

.jumbotron {
  background: url('images/jumbotron.jpg') no-repeat center;
  height: 100vh;
  background-size: cover;
  color: white;
}

.vertical-center {
  height: 100vh;
  display: flex;
  align-items: center;
}

.jumbotron h1 {
  font-size: 2rem;
}

.jumbotron h2 {
  font-size: 1.25rem;
  margin-top: 0.5em;
}

.figure-caption {
  color: white;
}

.social-links {
  margin-top: 3em;
}

.figure img {
  max-width: 48px;
}

#projects {
  padding: 2.5em;
  margin-top: 1em;
}

/* Font size for smaller viewports */
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 2rem;
  }

  .jumbotron h2 {
    font-size: 1rem;
  }

  .jumbotron-text {
    font-weight: 300;
  }

  #projects h2 {
    font-size: 2.5rem;
  }
}
